*, ::after, ::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #B5EAEA;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    background: linear-gradient(180deg, #FFFFFF1F 0%, #FFFFFF59 100%) 0 0% padding-box;
    box-shadow: 0px 0px 7px #00000029;
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
    margin-top: 50px;
    padding: 30px 0;
}